<div class="about-main">
  <h2>Mawiについて</h2>
  <p>
    株式会社Mawiは「花の価値を拡充・拡張すること」をミッションに掲げる会社です。
花は表層的な綺麗さだけでなく、生命が故の力強い唯一無二の美しさを持っていると考えています。
そして、日本では偉大な先人たちが元気な花をいつも手に入れることができるインフラを作ってくれました。
だからこそ、花の価値はまだまだ向上させる余地があると考えています。
花の美しさをより多くの人に知ってもらいたい、花贈りの素敵な体験をもっと広めたい、そんな想いをミッションに込めて株式会社Mawiを立ち上げました。
  </p>
   <img class="about-img" src="/082956775.jpg">
</div>
